In [1]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from scipy.stats import zscore
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import joblib

%matplotlib inline

In [17]:
# read again 
clean_df = pd.read_csv('csvDataFile/cleanData.csv')

clean_df.shape

(657, 13)

In [18]:
# drop target columns
x = clean_df.drop(columns=['A16']) 
y = clean_df['A16']

In [19]:
x.head()

      A2     A3   A4   A5    A6     A8   A9  A10  A11  A13    A14  A15
0  52.50  7.000  1.0  0.0   0.0  3.000  0.0  0.0    0  0.0    0.0    0
1  19.50  9.585  1.0  0.0   0.0  0.790  0.0  0.0    0  0.0   80.0  350
2  36.50  4.250  1.0  0.0  10.0  3.500  0.0  0.0    0  0.0  454.0   50
3  15.75  0.375  1.0  0.0   1.0  1.000  0.0  0.0    0  0.0  120.0   18
4  36.33  3.790  1.0  0.0  12.0  1.165  1.0  0.0    0  0.0  200.0    0

In [20]:
y.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: A16, dtype: float64

In [21]:
x = x.values

x

array([[ 52.5  ,   7.   ,   1.   , ...,   0.   ,   0.   ,   0.   ],
       [ 19.5  ,   9.585,   1.   , ...,   0.   ,  80.   , 350.   ],
       [ 36.5  ,   4.25 ,   1.   , ...,   0.   , 454.   ,  50.   ],
       ...,
       [ 27.67 ,   0.75 ,   1.   , ...,   0.   , 220.   , 251.   ],
       [ 33.67 ,   2.165,   1.   , ...,   1.   , 120.   ,   0.   ],
       [ 23.08 ,   0.   ,   1.   , ...,   2.   ,   0.   ,   0.   ]])

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, test_size=0.20, random_state=0)
# training using x_train and y_train

In [23]:
print(f"Size of x_train > {len(x_train)}")
print(f"Size of x_test > {len(x_test)}")

Size of x_train > 525
Size of x_test > 132

In [24]:
scaler = MinMaxScaler(feature_range=(0, 1))

rescaledX_train = scaler.fit_transform(x_train)
rescaledX_test = scaler.transform(x_test)

print(rescaledX_train)

[[1.19641256e-01 4.93181818e-02 5.00000000e-01 ... 0.00000000e+00
  1.50000000e-01 7.00000000e-05]
 [2.52556054e-01 7.00000000e-02 5.00000000e-01 ... 0.00000000e+00
  1.38888889e-01 3.00000000e-05]
 [4.97757848e-01 7.00000000e-02 5.00000000e-01 ... 0.00000000e+00
  3.00000000e-01 0.00000000e+00]
 ...
 [1.65919283e-01 3.40909091e-02 5.00000000e-01 ... 1.00000000e+00
  4.44444444e-01 0.00000000e+00]
 [2.64573991e-01 4.54545455e-02 5.00000000e-01 ... 0.00000000e+00
  2.31944444e-01 5.00000000e-03]
 [1.31479821e-01 4.58409091e-01 1.00000000e+00 ... 0.00000000e+00
  3.61111111e-01 0.00000000e+00]]

# Your Model Name